/* Splash */
#splash {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}

/* General */
.scrn {
    position: fixed;
    top: 12.5%;
    left: 0%;
    width: 100%;
    height: 75%;
    background-color: white;
    overflow: auto;
    overflow-wrap: break-word;
    animation-name: none;
    animation-duration: 0.15s;
    animation-timing-function: calc();
    animation-fill-mode: forwards;
}
.head {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 12.5%;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
.navDiv {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 12.5%;
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
.navBtns {
    position: relative;
    height: 75%;
    top: 12.5%;
    aspect-ratio: 1/1;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    margin: 0 5 0 5;
}
#exp {
    font-size: 6vw;
    position: relative;
    top: 25%;
}
#snackbar {
    position: fixed;
    left: 2.5%;
    top: 100%;
    width: 95%;
    font-size: 20px;
    background-color: grey;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 5px 0px 5px 0px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 20;
    color: white;
}

/* Menu */
#menu {
    position: absolute;
    height: 30%;
    top: 35%;
    left: 5%;
    aspect-ratio: 1/1;
    background-image: url("./assets/img/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#menuBarrier {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 19;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.15);
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
#menuDiv {
    position: fixed;
    width: 75%;
    left: -75%;
    top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 20;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
#menuList {
    flex-grow: 1;
    background-color: white;
    width: 90%;
    padding: 5%;
}
#profilePic {
    height: 75px;
    width: 75px;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 100%;
    text-align: center;
    background-image: url('./assets/img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#profileName {
    margin-left: 15px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
    display: inline-block;
}
#profileEmail {
    margin-left: 15px;
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
    display: inline-block;
}

/* Auth */
.authScrns {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 90%;
    height: 100%;
    z-index: 10;
    background-color: lightgrey;
    padding: 0% 5% 5% 5%;
    text-align: center;
}
.authBtn {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally and vertically */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
.authBtn img {
    width: 30px;
    height: 30px;
    margin: 5 10 5 0;
}
#covDiv {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
    font-size: 25px;
    font-weight: bolder;
    z-index: 100;
    background-color: cyan;
}

/* Animations */
@keyframes slideInRight {
    0% {left: -100%;}
    100% {left: 0%;}
}
@keyframes slideInLeft {
    0% {left: 100%;}
    100% {left: 0%;}
}
@keyframes snackbar {
    0% {top: 100%;}
    15% {top: 85%;}
    85% {top: 85%;}
    100% {top: 100%;}
}
@keyframes menuFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes menuFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes menuOpen {
    0% {left: -75%;}
    100% {left: 0%;}
}
@keyframes menuClose {
    0% {left: 0%;}
    100% {left: -75%;}
}
/* Home */
#homediv {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 15%;
}
.homeList {
    width: 90%;
    padding: 5%;
    border-style: solid;
    border-radius: 3vw;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;
}
#homeTitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 6vw;
}